@media (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
  .main__img {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 1000px;
  }
  .main-top__title {
    max-width: 70%;
  }
  .features {
    padding: 100px 0;
    background-position: 0 32%;
  }
  .personal__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .features__items {
    padding-left: 0px;
  }
  .prices__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .viewers__img {
    padding-top: 0;
    width: 50%;
    margin-left: 15px;
  }
  .prices__img {
    width: 50%;
  }
  .statistic__img {
    width: 50%;
    margin-left: 15px;
  }
  .features__title {
    font-size: 30px;
  }
  .features__item + .features__item {
    margin-top: 80px;
  }
  .features__item {
    margin-bottom: 0;
  }
  .list__item {
    font-size: 20px;
  }
  .opportunities__item-img {
    width: 40%;
  }
  .opportunities__title {
    padding-left: 0;
  }
  .opportunities__item-title {
    font-size: 30px;
  }
  .opportunities__item-info {
    padding-left: 0px;
  }
  .slick-next {
    right: -45px;
  }
  .slick-prev {
    left: -45px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
  }
  .slick-next svg,
  .slick-prev svg {
    width: 15px;
    height: 24px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 880px;
  }
  .main-top__title {
    font-size: 36px;
    max-width: unset;
  }
  .main-bottom__title {
    font-size: 30px;
  }
  .features__title {
    font-size: 30px;
  }
  .main {
    background-image: url("/images/main-bg-tablet.svg");
  }
  .features {
    padding: 50px 0;
  }
  .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features__text,
  .features__info {
    max-width: 100%;
    text-align: left;
  }
  .features__list {
    margin-bottom: 52px;
  }
  .features__info {
    margin: 0;
  }
  .features__img {
    margin: 22px auto 0;
    width: 70%;
  }
  .prices__img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .prices__info {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .features {
    background-image: url("/images/features-bg-tablet.svg");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 0 30%;
  }
}

@media (max-width: 860px) {
  .features {
    -webkit-background-size: auto 700px;
            background-size: auto 700px;
    background-position: 0px 30%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .main-top__title {
    font-size: 30px;
  }
  .opportunities__title {
    font-size: 30px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
  .features__item + .features__item {
    margin-top: 50px;
  }
  .list__img {
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
  .features__text--hidden {
    display: none;
  }
  .features {
    -webkit-background-size: auto 607px;
            background-size: auto 607px;
    background-position: 0px 29%;
  }
  .features__title {
    font-size: 24px;
  }
  .opportunities__item-title {
    font-size: 24px;
  }
  .opportunities__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .opportunities__item-img {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .opportunities__item-info {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .slick-dots {
    top: -84px;
    text-align: right;
    bottom: unset;
  }
  .slick-next {
    right: -15px;
    top: 30%;
  }
  .slick-prev {
    left: -15px;
    top: 30%;
  }
  .slick-dots li button {
    width: 4px;
    height: 4px;
  }
  .slick-dots li button:before {
    font-size: 0px;
    line-height: 4px;
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    margin: 0 3px;
  }
}

@media (max-width: 622px) {
  .features {
    -webkit-background-size: auto 500px;
            background-size: auto 500px;
    background-position: 0px 32%;
  }
}

@media (max-width: 568px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  .header__phone {
    font-size: 14px;
  }
  .main {
    padding: 65px 0 50px;
    background-image: url("/images/main-bg-mobile.svg");
    background-position: bottom left;
  }
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-top__info {
    margin-left: 0;
    margin-top: 16px;
  }
  .main-top__title {
    font-size: 26px;
  }
  .main-top__title br {
    display: none;
  }
  .main-top__link {
    width: 272px;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
    display: block;
  }
  .main__img {
    margin-bottom: 32px;
    margin-top: 20px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
  .features {
    background-image: url("/images/features-bg-mobile.svg");
    -webkit-background-size: contain;
            background-size: contain;
    background-position: 0 38%;
  }
  .features__img {
    width: 80%;
  }
}
