body {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.opportunities__item-more {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main-top__link, .footer__btn {
  font-family: "RobotoMono-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer__email {
  font-family: "RobotoMono-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header__phone, .main-top__title, .main-bottom__title,
.opportunities__item-title, .features__title, .opportunities__title, .responsibility__title, .footer__title, .footer__phone, .footer__email {
  font-family: "RobotoMono-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/fonts/RobotoMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/RobotoMono-Medium.woff2") format("woff2"), url("/fonts/RobotoMono-Medium.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/fonts/RobotoMono-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #0e0034;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #0e0034;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 100px;
  height: 50px;
}

.header__phone {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2%;
  border-bottom: 1px solid transparent;
}

.header__phone:active {
  color: rgba(255, 255, 255, 0.78);
}

.header__phone::after {
  position: absolute;
  content: "";
  bottom: 1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.header__phone:hover::after {
  background-color: #fff;
}

.header__phone:active::after {
  background-color: transparent;
}

.main {
  padding: 100px 0;
  background-image: url("/images/main-bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
}

.main__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-top__title {
  max-width: 55%;
  font-size: 46px;
  line-height: 1.2;
  margin: 0;
}

.main-top__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

.main-top__text {
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
}

.main-top__link {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 16px 47px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  width: 220px;
}

.main-top__link:hover {
  background: #fe7878;
}

.main-top__link:active {
  background: #cc4a4a;
}

.main__img {
  margin: 43px auto 119px;
  display: block;
  max-width: 1280px;
}

.main-bottom {
  display: block;
  color: #0e0034;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}

.main-bottom__title,
.opportunities__item-title {
  font-size: 38px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.features {
  padding: 134px 0 128px;
  background-image: url("/images/features-bg.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-position: 0 35%;
}

.features__items {
  padding-left: 110px;
}

.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item:first-child .features__info {
  text-align: right;
  padding-right: 110px;
}

.features__item:nth-child(3) .features__info {
  text-align: right;
  padding-right: 110px;
}

.features__item:first-child {
  margin-bottom: 260px;
}

.features__item:nth-child(2) {
  margin-bottom: 219px;
}

.features__item:nth-child(3) {
  margin-bottom: 201px;
}

.features__item:nth-child(3) .features__img {
  margin-left: -17px;
}

.features__title {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.features__text {
  color: rgba(255, 255, 255, 0.8);
}

.features__item:first-child .features__text {
  max-width: 510px;
}

.features__item:nth-child(2) .features__text {
  max-width: 400px;
}

.features__item:nth-child(3) .features__text {
  max-width: 400px;
}

.features__item:last-child .features__text {
  max-width: 510px;
}

.features__item:nth-child(2) .features__img {
  padding-top: 123px;
}

.list__img {
  margin-right: 16px;
  width: 52px;
  height: 52px;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 22px;
  line-height: 1;
}

.list__item + .list__item {
  margin-top: 32px;
}

.opportunities {
  background: rgba(255, 255, 255, 0.03);
  padding: 50px 0 40px;
}

.opportunities__title {
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 110px;
}

.opportunities__item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  margin-bottom: 100px;
}

.opportunities__item-info {
  padding-left: 110px;
  margin-right: 70px;
}

.opportunities__item-text {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
  max-width: 510px;
}

.opportunities__item-more {
  color: #2ce272;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline;
}

.shortened {
  display: inline;
}

.opportunities__item-more:hover {
  color: #46a66b;
}

.opportunities__item-more:focus {
  color: #46a66b;
  border: none;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.slick-dots li {
  margin: 0 12px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots .slick-active {
  background-color: #fff;
}

.slick-next::before,
.slick-prev::before {
  content: "";
}

.slick-next,
.slick-prev {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #61587a;
}

.slick-next:active,
.slick-prev:active {
  background-color: transparent;
}

.slick-next:active path,
.slick-prev:active path {
  fill: rgba(255, 255, 255, 0.78);
}

.slick-next {
  right: -80px;
}

.slick-prev {
  left: -80px;
}

.slick-next.slick-disabled path {
  fill: rgba(255, 255, 255, 0.08);
}

.slick-next.slick-disabled:active {
  background-color: transparent;
}

.slick-next.slick-disabled:hover {
  background-color: transparent;
  cursor: default;
}

.slick-next.slick-disabled {
  cursor: default;
}

.slick-prev.slick-disabled {
  display: none !important;
}

.responsibility {
  padding-top: 72px;
  overflow: hidden;
}

.responsibility__title {
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 110px;
}

.responsibility__inner {
  padding: 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.responsibility__text + .responsibility__text {
  margin-left: 150px;
}

.responsibility__img {
  display: block;
  margin: 0 auto;
  margin-bottom: -90px;
}

.footer {
  background: #352954;
  padding: 66px 0 100px;
}

.footer__title {
  font-size: 38px;
  line-height: 1.2;
  margin-right: 225px;
}

.footer__inner {
  padding: 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__inner + .footer__inner {
  margin-top: 58px;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}

.footer__social-link {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link path,
.footer__social-link rect,
.footer__social-link circle {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link:hover path {
  fill: #fe7878;
}

.footer__social-link:hover rect,
.footer__social-link:hover circle {
  stroke: #fe7878;
}

.footer__social-link:active path {
  fill: #cc4a4a;
}

.footer__social-link:active rect,
.footer__social-link:active circle {
  stroke: #cc4a4a;
}

.footer__form {
  margin-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  background: rgba(255, 255, 255, 0.39);
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  height: 48px;
  color: #fff;
  padding: 16px 90px 16px 16px;
  cursor: pointer;
}

.footer__input:focus {
  border: none;
  outline: transparent;
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input:focus::-webkit-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus:-ms-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus::-ms-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus::placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__btn {
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 16px 33px;
  margin-left: 40px;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__btn:hover {
  background: #fe7878;
}

.footer__btn:active {
  background: #cc4a4a;
  border: none;
  outline: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone,
.footer__email {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2;
  border-bottom: 1px solid transparent;
}

.footer__phone:active,
.footer__email:active {
  color: rgba(255, 255, 255, 0.78);
}

.footer__phone::after,
.footer__email::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__phone:hover::after,
.footer__email:hover::after {
  background-color: #fff;
}

.footer__phone:active::after,
.footer__email:active::after {
  background-color: transparent;
}

.footer__email {
  margin-top: 22px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
  .main__img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 860px;
  }
  .main-top__title {
    font-size: 36px;
    max-width: unset;
  }
  .main-bottom__title {
    font-size: 30px;
  }
  .main {
    background-image: url("/images/main-bg-tablet.svg");
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .main-top__title {
    font-size: 30px;
  }
  .main-bottom__title {
    font-size: 28px;
  }
}

@media (max-width: 568px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  .container {
    max-width: 440px;
  }
  .header__phone {
    font-size: 14px;
  }
  .main {
    padding: 65px 0 50px;
    background-image: url("/images/main-bg-mobile.svg");
  }
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-top__info {
    margin-left: 0;
    margin-top: 16px;
  }
  .main-top__title {
    font-size: 26px;
  }
  .main-top__link {
    width: 272px;
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
                -ms-grid-row-align: stretch;
            align-self: stretch;
    display: block;
  }
  .main__img {
    margin-bottom: 32px;
    margin-top: 20px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
}
