body {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.opportunities__item-more {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.main-top__link, .footer__btn {
  font-family: "RobotoMono-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer__email {
  font-family: "RobotoMono-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.header__phone, .main-top__title, .description__title,
.opportunities__item-title, .features__title, .opportunities__title, .responsibility__title, .footer__title, .footer__phone, .footer__email {
  font-family: "RobotoMono-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"), url("/fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Roboto-Bold.woff2") format("woff2"), url("/fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RobotoMono-Regular.woff2") format("woff2"), url("/fonts/RobotoMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/RobotoMono-Medium.woff2") format("woff2"), url("/fonts/RobotoMono-Medium.woff") format("woff");
}

@font-face {
  font-family: "RobotoMono-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/RobotoMono-Bold.woff2") format("woff2"), url("/fonts/RobotoMono-Bold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  background-color: #0e0034;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #0e0034;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 100px;
  height: 50px;
}

.header__phone {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2%;
  border-bottom: 1px solid transparent;
}

.header__phone:active {
  color: rgba(255, 255, 255, 0.78);
}

.header__phone::after {
  position: absolute;
  content: "";
  bottom: 1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.header__phone:hover::after {
  background-color: #fff;
}

.header__phone:active::after {
  background-color: transparent;
}

.main {
  padding-top: 100px;
  margin-bottom: 35em;
  background-position: bottom center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  overflow: visible;
}

.main__inner,
.description__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-top__title {
  max-width: 55%;
  font-size: 46px;
  line-height: 1.2;
  margin: 0;
}

.main-top__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}

.main-top__text {
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
}

.main-top__link {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 16px 47px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  width: 220px;
  scroll-behavior: smooth;
}

.main-top__link:hover {
  background: #fe7878;
}

.main-top__link:active {
  background: #cc4a4a;
}

.main__img {
  display: block;
  max-width: 1280px;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: -33em;
  margin: 0 auto;
}

.description {
  padding: 14em 0 100px;
  background-color: #fff;
  position: relative;
  overflow: visible;
  z-index: 1;
}

.description::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -310px;
  width: 100%;
  height: 313px;
  background-image: url("/images/main-bg-white.svg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  z-index: -1;
}

.description::after {
  content: "";
  position: absolute;
  left: 0;
  top: 155px;
  width: 100%;
  height: 100%;
  background-image: url("/images/description-bg.svg");
  background-repeat: no-repeat;
  -webkit-background-size: 267px 319px;
          background-size: 267px 319px;
  z-index: -1;
}

.description__inner {
  display: block;
  color: #0e0034;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}

.description__title,
.opportunities__item-title {
  font-size: 38px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.features {
  padding: 134px 0 128px;
}

.features__items {
  padding-left: 110px;
}

.features__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal__info {
  text-align: right;
  padding-right: 110px;
}

.prices__info {
  text-align: right;
  padding-right: 110px;
}

.viewers {
  margin-top: 180px;
  margin-bottom: 180px;
  background-color: #16083a;
  display: block;
  position: relative;
  z-index: 2;
}

.background-top {
  position: absolute;
  top: -5em;
  z-index: -1;
}

.background-bottom {
  position: absolute;
  bottom: -6em;
  z-index: -1;
}

.viewers__title {
  z-index: 2;
}

.viewers__info {
  z-index: 2;
  padding-left: 110px;
}

.viewers__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.prices {
  margin-bottom: 201px;
}

.prices__img {
  margin-left: -17px;
}

.features__title {
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.features__text {
  color: rgba(255, 255, 255, 0.8);
}

.personal__text {
  max-width: 510px;
}

.viewers__text {
  max-width: 400px;
  z-index: 2;
}

.prices__text {
  max-width: 400px;
}

.statistic__text {
  max-width: 510px;
}

.viewers__img {
  padding-top: 123px;
  margin-left: 15px;
  z-index: 2;
}

.statistic__img {
  margin-left: 15px;
}

.list__img {
  margin-right: 16px;
  width: 52px;
  height: 52px;
}

.list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 22px;
  line-height: 1;
}

.list__item + .list__item {
  margin-top: 32px;
}

.opportunities {
  background: rgba(255, 255, 255, 0.03);
  padding: 50px 0 40px;
}

.opportunities__title {
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 110px;
}

.opportunities__item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  outline: none;
  margin-bottom: 100px;
}

.opportunities__item-info {
  padding-left: 110px;
  margin-right: 70px;
}

.opportunities__item-text {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
  max-width: 510px;
}

.opportunities__item-more {
  color: #2ce272;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  display: inline;
}

.shortened {
  display: inline;
}

.opportunities__item-more:hover {
  color: #46a66b;
}

.opportunities__item-more:focus {
  color: #46a66b;
  border: none;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.slick-dots li {
  margin: 0 12px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  font-size: 0px;
  line-height: 10px;
  width: 10px;
  height: 10px;
}

.slick-dots .slick-active {
  background-color: #fff;
}

.slick-next::before,
.slick-prev::before {
  content: "";
}

.slick-next,
.slick-prev {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #61587a;
}

.slick-next:active,
.slick-prev:active {
  background-color: transparent;
}

.slick-next:active path,
.slick-prev:active path {
  fill: rgba(255, 255, 255, 0.78);
}

.slick-next {
  right: -70px;
}

.slick-prev {
  left: -70px;
}

.slick-next.slick-disabled path {
  fill: rgba(255, 255, 255, 0.08);
}

.slick-next.slick-disabled:active {
  background-color: transparent;
}

.slick-next.slick-disabled:hover {
  background-color: transparent;
  cursor: default;
}

.slick-next.slick-disabled {
  cursor: default;
}

.slick-prev.slick-disabled {
  display: none !important;
}

.responsibility {
  padding-top: 72px;
  overflow: hidden;
}

.responsibility__title {
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 110px;
}

.responsibility__inner {
  padding: 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
}

.responsibility__text + .responsibility__text {
  margin-left: 150px;
}

.responsibility__img {
  display: block;
  margin: 0 auto;
  margin-bottom: -90px;
  max-width: 1060px;
}

.footer {
  background: #352954;
  padding: 66px 0 100px;
}

.footer__title {
  font-size: 38px;
  line-height: 1.2;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  margin-bottom: 58px;
}

.footer__inner {
  padding: 0 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-basis: 7%;
      -ms-flex-preferred-size: 7%;
          flex-basis: 7%;
  margin-bottom: 58px;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}

.footer__social-link {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link path,
.footer__social-link rect,
.footer__social-link circle {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link:hover path {
  fill: #fe7878;
}

.footer__social-link:hover rect,
.footer__social-link:hover circle {
  stroke: #fe7878;
}

.footer__social-link:active path {
  fill: #cc4a4a;
}

.footer__social-link:active rect,
.footer__social-link:active circle {
  stroke: #cc4a4a;
}

.footer__form {
  margin-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__input {
  background: rgba(255, 255, 255, 0.39);
  border: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  height: 48px;
  color: #fff;
  padding: 16px 90px 16px 16px;
  cursor: pointer;
}

.footer__input:focus {
  border: none;
  outline: transparent;
}

.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.footer__input:focus::-webkit-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus:-ms-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus::-ms-input-placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__input:focus::placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__btn {
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  color: #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 16px 33px;
  margin-left: 40px;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__btn:hover {
  background: #fe7878;
}

.footer__btn:active {
  background: #cc4a4a;
  border: none;
  outline: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__phone,
.footer__email {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2;
  border-bottom: 1px solid transparent;
}

.footer__phone:active,
.footer__email:active {
  color: rgba(255, 255, 255, 0.78);
}

.footer__phone::after,
.footer__email::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__phone:hover::after,
.footer__email:hover::after {
  background-color: #fff;
}

.footer__phone:active::after,
.footer__email:active::after {
  background-color: transparent;
}

.footer__email {
  margin-top: 22px;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1235px;
  }
  .main__img {
    width: 100%;
  }
  .slick-next {
    right: -55px;
  }
  .slick-prev {
    left: -55px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 955px;
  }
  .main-top__title {
    max-width: 70%;
  }
  .description::after {
    -webkit-background-size: 166px 198px;
            background-size: 166px 198px;
  }
  .features {
    padding: 100px 0;
    background-position: 0 32%;
  }
  .personal__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .features__items {
    padding-left: 0px;
  }
  .prices__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .viewers__img {
    padding-top: 0;
    width: 50%;
    margin-left: 15px;
  }
  .prices__img {
    width: 50%;
  }
  .statistic__img {
    width: 50%;
    margin-left: 15px;
  }
  .background-bottom {
    margin-top: -20em;
  }
  .viewers__info {
    padding-left: 0;
  }
  .background-top {
    top: -7em;
  }
  .background-bottom {
    bottom: -7em;
  }
  .features__item + .features__item {
    margin-top: 80px;
  }
  .features__item {
    margin-bottom: 0;
  }
  .viewers {
    margin-top: -webkit-calc(80px + 3em);
    margin-top: calc(80px + 3em);
    margin-bottom: -webkit-calc(80px + 3em);
    margin-bottom: calc(80px + 3em);
  }
  .list__item {
    font-size: 20px;
  }
  .opportunities__item-img {
    width: 40%;
  }
  .opportunities__title {
    padding-left: 0;
  }
  .opportunities__item-title {
    font-size: 30px;
  }
  .opportunities__item-info {
    padding-left: 0px;
  }
  .responsibility__title {
    padding-left: 0;
  }
  .responsibility__inner {
    padding: 0;
  }
  .responsibility__img {
    width: 100%;
  }
  .description {
    padding: 10em 0 80px;
  }
  .main__img {
    top: -35em;
  }
  .main {
    margin-bottom: 37em;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
  }
  .slick-next svg,
  .slick-prev svg {
    width: 15px;
    height: 24px;
  }
  .main-top__link:hover {
    background: #ff5151;
  }
  .header__phone:hover::after {
    background-color: transparent;
  }
  .header__phone:active::after {
    background-color: #ffffff;
  }
  .footer__social-link:hover path {
    fill: #ffffff;
  }
  .footer__social-link:hover rect,
  .footer__social-link:hover circle {
    stroke: #ffffff;
  }
  .footer__btn:hover {
    background: #ff5151;
  }
  .footer__phone:active::after,
  .footer__email:active::after {
    background-color: #ffffff;
  }
  .slick-next:hover,
  .slick-prev:hover {
    background-color: transparent;
  }
  .slick-next:active,
  .slick-prev:active {
    background-color: #61587a;
  }
  .footer__inner {
    padding: 0;
  }
  .description::after {
    -webkit-background-size: 75px 92px;
            background-size: 75px 92px;
  }
  .background-top {
    top: -10em;
  }
  .background-bottom {
    bottom: -10em;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 800px;
  }
  .main-top__title {
    font-size: 36px;
    max-width: unset;
  }
  .main__img {
    top: -28em;
  }
  .main {
    margin-bottom: 31em;
  }
  .responsibility__title {
    font-size: 36px;
  }
  .description__title,
  .features__title {
    font-size: 30px;
  }
  .footer__title {
    font-size: 36px;
  }
  .features,
  .footer {
    padding: 50px 0;
  }
  .responsibility {
    padding-top: 50px;
  }
  .features__item,
  .viewers__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features__item + .features__item {
    margin-top: 50px;
  }
  .features__item {
    margin-bottom: 0;
  }
  .viewers {
    margin-top: -webkit-calc(50px + 2em);
    margin-top: calc(50px + 2em);
    margin-bottom: -webkit-calc(50px + 2em);
    margin-bottom: calc(50px + 2em);
  }
  .features__text,
  .features__info {
    max-width: 100%;
    text-align: left;
  }
  .features__list {
    margin-bottom: 52px;
  }
  .features__info {
    margin: 0;
  }
  .features__img {
    margin: 22px auto 0;
    width: 70%;
  }
  .prices__img {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .prices__info {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .responsibility__inner {
    margin-bottom: 50px;
  }
  .responsibility__text:first-child {
    -webkit-flex-basis: 43%;
        -ms-flex-preferred-size: 43%;
            flex-basis: 43%;
  }
  .responsibility__text:last-child {
    -webkit-flex-basis: 55%;
        -ms-flex-preferred-size: 55%;
            flex-basis: 55%;
  }
  .responsibility__text + .responsibility__text {
    margin-left: 30px;
  }
  .footer__title {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .footer__form {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
    margin-bottom: 36px;
  }
  .footer__social {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: auto;
    -webkit-flex-basis: 22%;
        -ms-flex-preferred-size: 22%;
            flex-basis: 22%;
  }
  .footer__links {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
  }
  .footer__input {
    -webkit-flex-basis: 48%;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
  }
  .footer__btn {
    -webkit-flex-basis: 48%;
        -ms-flex-preferred-size: 48%;
            flex-basis: 48%;
    margin-left: auto;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 700px;
  }
  .features {
    -webkit-background-size: auto 700px;
            background-size: auto 700px;
    background-position: 0px 30%;
  }
  .responsibility__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .responsibility__text {
    display: inline;
  }
  .responsibility__text:first-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .responsibility__text:last-child {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .responsibility__text + .responsibility__text {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .main-top__title {
    font-size: 30px;
  }
  .opportunities__title {
    font-size: 30px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
  .features__item + .features__item {
    margin-top: 50px;
  }
  .list__img {
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
  .features__text--hidden {
    display: none;
  }
  .features {
    -webkit-background-size: auto 607px;
            background-size: auto 607px;
    background-position: 0px 29%;
  }
  .features__title {
    font-size: 24px;
  }
  .background-top {
    top: -12em;
  }
  .background-bottom {
    bottom: -12em;
  }
  .opportunities {
    padding: 25px 0 20px;
  }
  .opportunities__item-title {
    font-size: 24px;
  }
  .opportunities__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  .opportunities__item-img {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .opportunities__item-info {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .slick-dots {
    top: -77px;
    text-align: right;
    bottom: unset;
  }
  .slick-next {
    right: -12px;
    top: 30%;
  }
  .slick-prev {
    left: -12px;
    top: 30%;
  }
  .slick-dots li button {
    width: 4px;
    height: 4px;
  }
  .slick-dots li button:before {
    font-size: 0px;
    line-height: 4px;
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    margin: 0 3px;
  }
  .footer {
    padding: 24px 0 36px;
  }
  .footer__title {
    margin-bottom: 38px;
  }
  .description {
    padding: 7em 0 52px;
  }
  .main__img {
    top: -21em;
  }
  .main {
    margin-bottom: 24em;
  }
}

@media (max-width: 622px) {
  .features {
    -webkit-background-size: auto 500px;
            background-size: auto 500px;
    background-position: 0px 32%;
  }
  .responsibility__img {
    margin-bottom: -40px;
  }
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__input,
  .footer__btn {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
  }
  .footer__input {
    margin-bottom: 24px;
  }
  .description::after {
    top: 10px;
  }
}

@media (max-width: 568px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  .header__phone {
    font-size: 14px;
  }
  .main {
    padding-top: 65px;
  }
  .main__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-top__info {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
  .main-top__title,
  .opportunities__title,
  .responsibility__title,
  .footer__title {
    font-size: 26px;
  }
  .main-top__title br {
    display: none;
  }
  .main-top__link {
    width: 100%;
  }
  .main__img {
    margin-bottom: 32px;
    margin-top: 20px;
  }
  .description__title {
    font-size: 24px;
  }
  .features__img {
    width: 80%;
  }
  .opportunities__item-img {
    width: 80%;
  }
  .slick-next,
  .slick-prev {
    top: 25%;
  }
  .responsibility {
    padding-top: 30px;
  }
  .main__img {
    top: -19em;
  }
  .main {
    margin-bottom: 21em;
  }
  .description {
    padding: 6em 0 52px;
  }
  .description::after {
    top: -5px;
  }
  .background-top {
    top: -14em;
  }
  .background-bottom {
    bottom: -14em;
  }
}

@media (max-width: 480px) {
  .description {
    padding: 4em 0 52px;
  }
  .description::after {
    top: -15px;
  }
  .background-top {
    top: -16em;
  }
  .background-bottom {
    bottom: -16em;
  }
}

@media (max-width: 410px) {
  .main__img {
    top: -18em;
  }
  .main {
    margin-bottom: 19em;
  }
}
