@media (max-width: 1366px) {
  .container {
    max-width: 1235px;
  }
  .main__img {
    width: 100%;
  }
  .slick-next {
    right: -55px;
  }
  .slick-prev {
    left: -55px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    max-width: 955px;
  }
  .main-top__title {
    max-width: 70%;
  }
  .description::after {
    background-size: 166px 198px;
  }
  .features {
    padding: 100px 0;
    background-position: 0 32%;
  }
  .personal__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .features__items {
    padding-left: 0px;
  }
  .prices__info {
    padding-right: 0px;
    margin-left: 15px;
  }
  .viewers__img {
    padding-top: 0;
    width: 50%;
    margin-left: 15px;
  }
  .prices__img {
    width: 50%;
  }
  .statistic__img {
    width: 50%;
    margin-left: 15px;
  }
  .background-bottom {
    margin-top: -20em;
  }
  .viewers__info {
    padding-left: 0;
  }
  .background-top {
    top: -7em;
  }
  .background-bottom {
    bottom: -7em;
  }
  .features__item + .features__item {
    margin-top: 80px;
  }
  .features__item {
    margin-bottom: 0;
  }
  .viewers {
    margin-top: calc(80px + 3em);
    margin-bottom: calc(80px + 3em);
  }
  .list__item {
    font-size: 20px;
  }
  .opportunities__item-img {
    width: 40%;
  }
  .opportunities__title {
    padding-left: 0;
  }
  .opportunities__item-title {
    font-size: 30px;
  }
  .opportunities__item-info {
    padding-left: 0px;
  }

  .responsibility__title {
    padding-left: 0;
  }
  .responsibility__inner {
    padding: 0;
  }
  .responsibility__img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
  }
  .slick-next svg,
  .slick-prev svg {
    width: 15px;
    height: 24px;
  }
  .main-top__link:hover {
    background: #ff5151;
  }
  .header__phone:hover::after {
    background-color: transparent;
  }
  .header__phone:active::after {
    background-color: #ffffff;
  }
  .footer__social-link:hover path {
    fill: #ffffff;
  }
  .footer__social-link:hover rect,
  .footer__social-link:hover circle {
    stroke: #ffffff;
  }
  .footer__btn:hover {
    background: #ff5151;
  }
  .footer__phone:active::after,
  .footer__email:active::after {
    background-color: #ffffff;
  }
  .slick-next:hover,
  .slick-prev:hover {
    background-color: transparent;
  }
  .slick-next:active,
  .slick-prev:active {
    background-color: #61587a;
  }
  .footer__inner {
    padding: 0;
  }
  .description::after {
    background-size: 75px 92px;
  }
  .background-top {
    top: -5em;
  }
  .background-bottom {
    bottom: -5em;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 800px;
  }
  .main-top__title {
    font-size: 36px;
    max-width: unset;
  }
  .responsibility__title {
    font-size: 36px;
  }
  .description__title,
  .features__title {
    font-size: 30px;
  }
  .footer__title {
    font-size: 36px;
  }
  .features,
  .footer {
    padding: 50px 0;
  }
  .responsibility {
    padding-top: 50px;
  }
  .features__item,
  .viewers__inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .features__item + .features__item {
    margin-top: 50px;
  }
  .features__item {
    margin-bottom: 0;
  }
  .viewers {
    margin-top: calc(50px + 2em);
    margin-bottom: calc(50px + 2em);
  }
  .features__text,
  .features__info {
    max-width: 100%;
    text-align: left;
  }
  .background-top {
    top: -3em;
  }
  .background-bottom {
    bottom: -3em;
  }
  .features__list {
    margin-bottom: 52px;
  }
  .features__info {
    margin: 0;
  }
  .features__img {
    margin: 22px auto 0;
    width: 70%;
  }
  .prices__img {
    order: 1;
  }
  .prices__info {
    order: 0;
  }
  .responsibility__inner {
    margin-bottom: 50px;
  }
  .responsibility__text:first-child {
    flex-basis: 43%;
  }
  .responsibility__text:last-child {
    flex-basis: 55%;
  }
  .responsibility__text + .responsibility__text {
    margin-left: 30px;
  }
  .footer__title {
    flex-basis: 100%;
  }
  .footer__form {
    flex-basis: 100%;
    order: 1;
    margin-right: 0;
    margin-bottom: 36px;
  }
  .footer__social {
    order: 2;
    display: inline-flex;
    margin-bottom: auto;
    flex-basis: 22%;
  }
  .footer__links {
    order: 2;
    flex-basis: 30%;
  }
  .footer__input {
    flex-basis: 48%;
  }
  .footer__btn {
    flex-basis: 48%;
    margin-left: auto;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 700px;
  }
  .features {
    background-size: auto 700px;
    background-position: 0px 30%;
  }
  .responsibility__inner {
    flex-direction: column;
  }
  .responsibility__text {
    display: inline;
  }
  .responsibility__text:first-child {
    flex-basis: 100%;
  }
  .responsibility__text:last-child {
    flex-basis: 100%;
  }
  .responsibility__text + .responsibility__text {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .main-top__title {
    font-size: 30px;
  }
  .opportunities__title {
    font-size: 30px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
  .features__item + .features__item {
    margin-top: 50px;
  }
  .list__img {
    margin-right: 16px;
    width: 32px;
    height: 32px;
  }
  .features__text--hidden {
    display: none;
  }
  .features {
    background-size: auto 607px;
    background-position: 0px 29%;
  }
  .features__title {
    font-size: 24px;
  }
  .opportunities {
    padding: 25px 0 20px;
  }
  .opportunities__item-title {
    font-size: 24px;
  }
  .opportunities__item {
    flex-direction: column;
    margin-bottom: 0;
  }
  .opportunities__item-img {
    order: 0;
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
  .opportunities__item-info {
    order: 1;
    margin: 0;
  }
  .slick-dots {
    top: -77px;
    text-align: right;
    bottom: unset;
  }
  .slick-next {
    right: -12px;
    top: 30%;
  }
  .slick-prev {
    left: -12px;
    top: 30%;
  }
  .slick-dots li button {
    width: 4px;
    height: 4px;
  }
  .slick-dots li button:before {
    font-size: 0px;
    line-height: 4px;
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    width: 4px;
    height: 4px;
  }
  .slick-dots li {
    margin: 0 3px;
  }
  .footer {
    padding: 24px 0 36px;
  }

  .footer__title {
    margin-bottom: 38px;
  }
  .description {
    padding: 52px 0;
  }
  .description__background {
    top: -14em;
    height: 250px;
  }
}

@media (max-width: 622px) {
  .features {
    background-size: auto 500px;
    background-position: 0px 32%;
  }
  .responsibility__img {
    margin-bottom: -40px;
  }
  .footer__form {
    flex-direction: column;
  }
  .footer__input,
  .footer__btn {
    flex-basis: 100%;
    width: 100%;
  }
  .footer__input {
    margin-bottom: 24px;
  }
  .description::after {
    top: 10px;
  }
}

@media (max-width: 568px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  .header__phone {
    font-size: 14px;
  }
  .main {
    padding-top: 65px;
  }
  .main__inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-top__info {
    margin-left: 0;
    margin-top: 16px;
    width: 100%;
  }
  .main-top__title,
  .opportunities__title,
  .responsibility__title,
  .footer__title {
    font-size: 26px;
  }
  .main-top__title br {
    display: none;
  }
  .main-top__link {
    width: 100%;
  }
  .description__title {
    font-size: 24px;
  }
  .features__img {
    width: 80%;
  }
  .opportunities__item-img {
    width: 80%;
  }
  .slick-next,
  .slick-prev {
    top: 25%;
  }
  .responsibility {
    padding-top: 30px;
  }
  .description__background {
    top: -13em;
  }
  .description::after {
    background-size: 49px 60px;
  }
  .description__background {
    top: -10em;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .description__background {
    top: -10em;
  }
}
