@media (max-width: 1366px) {
  .container {
    max-width: 1200px;
  }
  .main__img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 860px;
  }
  .main-top__title {
    font-size: 36px;
    max-width: unset;
  }
  .main-bottom__title {
    font-size: 30px;
  }
  .main {
    background-image: url("/images/main-bg-tablet.svg");
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .main-top__title {
    font-size: 30px;
  }
  .main-bottom__title {
    font-size: 28px;
  }
  .main {
    // background-image: url("/images/main-bg-768.svg");
  }
}

@media (max-width: 568px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }
  .container {
    max-width: 440px;
  }
  .header__phone {
    font-size: 14px;
  }

  .main {
    padding: 65px 0 50px;
    background-image: url("/images/main-bg-mobile.svg");
    background-position: bottom left;
  }
  .main__inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-top__info {
    margin-left: 0;
    margin-top: 16px;
  }
  .main-top__title {
    font-size: 26px;
  }
  .main-top__link {
    width: 272px;
    align-self: stretch;
    display: block;
  }
  .main__img {
    margin-bottom: 32px;
    margin-top: 20px;
  }
  .main-bottom__title {
    font-size: 24px;
  }
}
