@import "vars";
@import "fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @extend %roboto-regular;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  background-color: $dark-blue;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  background-color: $dark-blue;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  width: 100px;
  height: 50px;
}

.header__phone {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2;
  @extend %robotomono-bold;
  border-bottom: 1px solid transparent;
}

.header__phone:active {
  color: rgba(255, 255, 255, 0.78);
}

.header__phone::after {
  position: absolute;
  content: "";
  bottom: 1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.header__phone:hover::after {
  background-color: #fff;
}
.header__phone:active::after {
  background-color: transparent;
}

.main {
  padding: 100px 0;
  background-image: url("/images/main-bg.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main__inner {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.main-top__title {
  max-width: 55%;
  @extend %robotomono-bold;
  font-size: 46px;
  line-height: 1.2;
  margin: 0;
}

.main-top__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 40px;
}

.main-top__text {
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
}

.main-top__link {
  @extend %robotomono-regular;
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  border-radius: 8px;
  padding: 16px 47px;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.main-top__link:hover {
  background: #fe7878;
}
.main-top__link:active {
  background: #cc4a4a;
}

.main__img {
  margin-top: 43px;
  margin-bottom: 119px;
  max-width: 100%;
}

.main-bottom {
  display: block;
  color: $dark-blue;
  max-width: 620px;
  margin: 0 auto;
  text-align: center;
}

.main-bottom__title,
.opportunities__item-title {
  @extend %robotomono-bold;
  font-size: 38px;
  line-height: 1.1;
  margin-bottom: 24px;
}

.features {
  padding: 134px 0 128px 110px;
  background-image: url("/images/features-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 35%;
}

.features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__item:first-child .features__info {
  text-align: right;
  padding-right: 110px;
}

.features__item:nth-child(3) .features__info {
  text-align: right;
  padding-right: 110px;
}

.features__item:first-child {
  margin-bottom: 260px;
}

.features__item:nth-child(2) {
  margin-bottom: 219px;
}

.features__item:nth-child(3) {
  margin-bottom: 201px;
}

.features__item:nth-child(3) .features__img {
  margin-left: -17px;
}

.features__title {
  @extend %robotomono-bold;
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.features__text {
  color: rgba(255, 255, 255, 0.8);
}

.features__item:first-child .features__text {
  max-width: 510px;
}

.features__item:nth-child(2) .features__text {
  max-width: 400px;
}

.features__item:nth-child(3) .features__text {
  max-width: 400px;
}

.features__item:last-child .features__text {
  max-width: 510px;
}

.features__item:nth-child(2) .features__img {
  padding-top: 123px;
}

.list__img {
  margin-right: 16px;
  width: 52px;
  height: 52px;
}

.list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 22px;
  line-height: 1;
}

.list__item + .list__item {
  margin-top: 32px;
}

.opportunities {
  background: rgba(255, 255, 255, 0.03);
  padding: 50px 0 40px;
}

.opportunities__title {
  @extend %robotomono-bold;
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 110px;
}

.opportunities__item {
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between;
  outline: none;
  margin-bottom: 100px;
}

.opportunities__item-info {
  padding-left: 110px;
  margin-right: 70px;
}

.opportunities__item-text {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin-bottom: 32px;
  max-width: 510px;
}

.opportunities__item-more {
  @extend %roboto-bold;
  color: #2ce272;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.opportunities__item-more:hover {
  color: #46a66b;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: rgba(#fff, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.slick-dots li {
  margin: 0 12px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots .slick-active {
  background-color: #fff;
}

.slick-next::before,
.slick-prev::before {
  content: "";
}
.slick-next,
.slick-prev {
  background-color: transparent;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-next:hover,
.slick-prev:hover {
  background-color: #61587a;
}
.slick-next:active,
.slick-prev:active {
  background-color: transparent;
}
.slick-next:active path,
.slick-prev:active path {
  fill: rgba(255, 255, 255, 0.78);
}

.slick-next {
  right: -80px;
}

.slick-prev {
  left: -80px;
}

.slick-prev.slick-disabled {
  display: none;
}
.slick-next.slick-disabled path {
  fill: rgba(255, 255, 255, 0.08);
}

.slick-next.slick-disabled:active {
  background-color: transparent;
}
.slick-next.slick-disabled:hover {
  background-color: transparent;
  cursor: default;
}
.slick-next.slick-disabled {
  cursor: default;
}

// .swiper-container {
//   position: static;
// }

// .swiper-wrapper {
//   position: relative;
// }

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 16px;
  height: 26px;
}
.swiper-button-next,
.swiper-button-prev {
  font-size: 0;
}

.swiper-button-next {
  right: -10px;
}
.swiper-button-prev {
  left: -10px;
}

.responsibility {
  padding-top: 72px;
  overflow: hidden;
}

.responsibility__title {
  @extend %robotomono-bold;
  font-size: 46px;
  line-height: 1.2;
  color: #ff5151;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 110px;
}

.responsibility__inner {
  padding: 0 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.responsibility__text + .responsibility__text {
  margin-left: 150px;
}

.responsibility__img {
  display: block;
  margin: 0 auto;
  margin-bottom: -90px;
}

.footer {
  background: #352954;
  padding: 66px 0 100px;
}

.footer__title {
  @extend %robotomono-bold;
  font-size: 38px;
  line-height: 1.2;
  margin-right: 225px;
}

.footer__inner {
  padding: 0 110px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__inner + .footer__inner {
  margin-top: 58px;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}

.footer__social-link {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link path,
.footer__social-link rect,
.footer__social-link circle {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.footer__social-link:hover path {
  fill: #fe7878;
}
.footer__social-link:hover rect,
.footer__social-link:hover circle {
  stroke: #fe7878;
}
.footer__social-link:active path {
  fill: #cc4a4a;
}
.footer__social-link:active rect,
.footer__social-link:active circle {
  stroke: #cc4a4a;
}

.footer__form {
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__input {
  background: rgba(255, 255, 255, 0.39);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  height: 48px;
  color: #fff;
  padding: 16px 90px 16px 16px;
}

.footer__input:focus {
  border: none;
  outline: transparent;
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.footer__input:focus::placeholder {
  color: rgba(14, 0, 52, 0.08);
}

.footer__btn {
  @extend %robotomono-regular;
  font-size: 16px;
  line-height: 1;
  background: #ff5151;
  color: #fff;
  border-radius: 8px;
  padding: 16px 33px;
  margin-left: 40px;
  height: 48px;
  cursor: pointer;
  border: none;
  outline: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__btn:hover {
  background: #fe7878;
}

.footer__btn:active {
  background: #cc4a4a;
  border: none;
  outline: transparent;
  box-shadow: none;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__phone,
.footer__email {
  position: relative;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -2;
  @extend %robotomono-bold;
  border-bottom: 1px solid transparent;
}

.footer__phone:active,
.footer__email:active {
  color: rgba(255, 255, 255, 0.78);
}

.footer__phone::after,
.footer__email::after {
  position: absolute;
  content: "";
  bottom: -1px;
  width: 100%;
  height: 1px;
  display: block;
  background: transparent;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}

.footer__phone:hover::after,
.footer__email:hover::after {
  background-color: #fff;
}
.footer__phone:active::after,
.footer__email:active::after {
  background-color: transparent;
}

.footer__email {
  @extend %robotomono-medium;
  margin-top: 22px;
}

@import "media";
