%roboto-regular {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%roboto-medium {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%roboto-bold {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}
%robotomono-regular {
  font-family: "RobotoMono-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%robotomono-medium {
  font-family: "RobotoMono-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%robotomono-bold {
  font-family: "RobotoMono-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}
